{% extends "base.twig" %}

{% block title %}Modifier un Post
{% endblock %}
{% block content %}
	<div class="col-6">
		<h1>Modifier le post</h1>
		<form method="post" action="\editPost" enctype="multipart/form-data">
			<div class="mb-3">
				<label for="" class="form-label">Titre du post</label>
				<input type="text" class="form-control" id="" {% if postUpdate %} value="{{ postUpdate.titre }}" {% endif %} name="titre" placeholder="titre du post">
			</div>
			<div class="mb-3">
				<label for="exampleInput" class="form-label">Châpo</label>
				<textarea name="chapo" id="" cols="30" rows="10" class="form-control" placeholder="Extrait de l'article">{% if postUpdate %}{{ postUpdate.chapo | trim }}{% endif %}</textarea>
			</div>
			<div class="mb-3">
				<label for="exampleInput" class="form-label">Texte de l'Article</label>
				<textarea name="content" id="" cols="30" rows="10" class="form-control" placeholder="Contenue principale de l'article">{% if postUpdate %}{{ postUpdate.content | trim }}{% endif %}</textarea>
			</div>
			<div class="mb-3">
				<fieldset>
					<legend for="">Categorie, choisissez une ou plusieurs catégories</legend>
					{% for categorie in categories %}
						<div>
							<input type="checkbox" name="categorie[]" value="{{categorie.id}}" {% for categoriePostUpdate in categoriePostUpdates %} {% if categorie.id == categoriePostUpdate.idcategorie %} checked {% endif %} {% endfor %}>
							<label for="scales">{{categorie.libelle}}</label>
						</div>
					{% endfor %}
				</fieldset>
			</div>
			<div class="mb-3">
				<label for="" class="form-label">Choisissez l'image principale de l'article</label>
				<input type="file" name="image_principale" class="form-control" accept=".jpg,.png,.gif,.webp" value="">
			</div>
			{% if postUpdate %}
				<input type="hidden" name="id" value= {{ postUpdate.id }}>
				<button type="submit" class="btn btn-primary">Modifier</button>
			{% endif %}
		</form>
	</div>
{% endblock %}
